body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cfcff3;
  padding: 40px;
  margin: 0;
}

h1,
h5 {
  text-align: center;
  color: #49456c;
}
.input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

input[type="number"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #453b9b;
  color: white;
  font-size: 16px;
  border: none;
  /* text-align: center; */
  /* text-decoration: none; */
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 15px;
  margin-left: 15px;
}

button:hover {
  background-color: #352e72;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  border-radius: 15px;
}

.counter {
  flex: 1;
  min-width: 250px;
  background-color: rgb(255, 255, 255);
  padding: 24px;
  /* margin: 10px; */
  /* margin: 0 10px; */
  border: solid 2px #f9f9fa;
  border-radius: 15px;
  box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.1);
}

.counter h3 {
  margin-top: 0;
  /* padding: 24px; */

  color: #49456c;
}

.counter p {
  color: #45425c;
  text-align: center;
}
.customer-count {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6b7280;
  font-size: 14px;
}

.customer-count svg {
  color: #9ca3af;
}
.counter ul {
  padding-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 3px;
  padding-bottom: 4px;
}

.counter li {
  font-weight: 500;
  font-size: 14px;
  /* padding-left: 10px; */
  margin-top: 5px;
  background-color: #d1d1f4b3;
  border: solid 4px #d1d1f423;
  padding: 5px 10px;
  border-radius: 10px;
  color: #49456c;
  /* align-items: end; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: row; */
  list-style: none;
  position: relative;
  display: flex;
}
.counter li::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%236b7280'%3E%3Cpath d='M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;
}
